.filter-price-container-s {
  width: 100px;
  
  border-radius: 20px;
  background: #fff;

  fieldset {
    border: none !important;
  }
  .checkbox-filter {
    .filter-form-input[data-shrink='true'] {
      display: block !important;
    }
    .overlay {
      .filter-inputs-container {
        display: flex !important;
        flex-direction: column;
      }
    }
  }
}
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  border-radius: 20px !important;
  // transform: translateX(120px) !important;
}
.filter-price-overlay-container {
  padding: 1rem 2rem;
  border-radius: 20px !important;

  .filter-overlay-input-container {
    .filter-input {
      width: 100%;
      padding: 0.5rem 1rem;
      margin-bottom: 0.5rem;
      background: rgba(1, 156, 222, 0.14) !important;
      fieldset {
        border: none !important;
      }
      border-radius: 20px;
      input {
        padding: 0;
      }
    }
  }
  .filter-bottom-buttons {
    display: flex;
    .filter-curr-button {
      margin-right: 0.4rem;
      border-radius: 20px;
      border: 1px solid #019cde;
    }
    .active {
      background: #019cde;
    }
    .filter-submit {
      background: #019cde;
      font-weight: 600;
      border-radius: 20px;
      font-family: 'Montserrat';
      text-transform: capitalize;
      .filter-submit-icon {
        margin-left: 0.2rem;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .filter-price-container-s {
    width: 100%;
  
    background: #fff;
   

    fieldset {
      border: none !important;
    }
    .checkbox-filter {
      .filter-form-input[data-shrink='true'] {
        display: block !important;
      }
      .overlay {
        .filter-inputs-container {
          display: flex !important;
          flex-direction: column;
        }
      }
    }
  }
  .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    border-radius: 20px !important;
    // transform: translateX(120px) !important;
  }
  .filter-price-overlay-container {
    padding: 1rem 2rem;
    border-radius: 20px !important;

    .filter-overlay-input-container {
      .filter-input {
        width: 100%;
        padding: 0.5rem 1rem;
        margin-bottom: 0.5rem;
        background: rgba(1, 156, 222, 0.14) !important;
        fieldset {
          border: none !important;
        }
        border-radius: 20px;
        input {
          padding: 0;
        }
      }
    }
    .filter-bottom-buttons {
      display: flex;
      .filter-curr-button {
        margin-right: 0.4rem;
        border-radius: 20px;
        border: 1px solid #019cde;
      }
      .active {
        background: #019cde;
      }
      .filter-submit {
        background: #019cde;
        font-weight: 600;
        border-radius: 20px;
        font-family: 'Montserrat';
        text-transform: capitalize;
        .filter-submit-icon {
          margin-left: 0.2rem;
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .filter-price-container-s {
    width: 100%;
  
    background: #fff;
   

    fieldset {
      border: none !important;
    }
    .checkbox-filter {
      .filter-form-input[data-shrink='true'] {
        display: block !important;
      }
      .overlay {
        .filter-inputs-container {
          display: flex !important;
          flex-direction: column;
        }
      }
    }
  }
  .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    border-radius: 20px !important;
    // transform: translateX(120px) !important;
  }
  .filter-price-overlay-container {
    padding: 1rem 2rem;
    border-radius: 20px !important;

    .filter-overlay-input-container {
      .filter-input {
        width: 100%;
        padding: 0.5rem 1rem;
        margin-bottom: 0.5rem;
        background: rgba(1, 156, 222, 0.14) !important;
        fieldset {
          border: none !important;
        }
        border-radius: 20px;
        input {
          padding: 0;
        }
      }
    }
    .filter-bottom-buttons {
      display: flex;
      flex-direction: column;
      
      .filter-curr-button {
        margin-bottom: 0.5rem;
        margin-right: 0.4rem;
        border-radius: 20px;
        font-size: 0.7rem;
        border: 1px solid #019cde;
      }
      .active {
        background: #019cde;
      }
      .filter-submit {
        background: #019cde;
        font-weight: 600;
        border-radius: 20px;
font-size: 0.8rem;
margin-top: 0.5rem;
        font-family: 'Montserrat';
        text-transform: capitalize;
        .filter-submit-icon {
          margin-left: 0.2rem;
        }
      }
    }
  }
}
