.blog-card{
    .blog-card-title{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .blog-card-img{
        width: 100%;
        border-radius: 10px;
        background-size: cover !important;
        height: 200px;
    }
    .blog-card-text{
        font-size: 0.9rem;
        margin: 0.8rem 0;
        color: #999999;
    }
    .blog-card-button{
        background-color: #019cde !important;
        padding: 0.25rem 2rem;
    }
}