.favorites-container {
  margin: 4rem 0;
  .favorites-title {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .favorites-buttons {
    display: flex;
    margin: 2rem;
    .favorites-button {
      text-transform: capitalize;
      font-weight: 500;
      color: black;
      font-size: 1.3rem;
      border-radius: 0px;

      &:first-child {
        border-right: 1px solid black !important;
      }
    }
    .favorites-button-active {
      font-weight: 700;
    }
  }
  .favorites-data {
    display: flex;
    justify-content: center;
    .favorites-data-select {
      margin: 8rem 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1.4rem;
      }

      p {
        width: 70%;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        text-align: center;
      }
      .favorites-no-select-img {
        margin-bottom: 4rem;

        height: 400px !important;
        width: 400px !important;
      }
    }
  }
}
@media screen and (max-width: 545px) {
  .favorites-container {
    margin: 4rem 0;
    .favorites-title {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
    .favorites-buttons {
      display: flex;
      margin: 2rem;
      .favorites-button {
        text-transform: capitalize;
        font-weight: 500;
        color: black;
        font-size: 1rem;
        border-radius: 0px;

        &:first-child {
          border-right: 1px solid black !important;
        }
      }
      .favorites-button-active {
        font-weight: 700;
      }
    }
    .favorites-data {
      display: flex;
      justify-content: center;
      .favorites-data-select {
        margin: 6rem 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h2 {
          font-family: 'Montserrat', sans-serif;
          font-size: 1.5rem;
          text-align: center;
          margin-bottom: 1.4rem;
        }

        p {
          width: 70%;
          font-family: 'Montserrat', sans-serif;
          font-size: 1rem;
          text-align: center;
        }
        .favorites-no-select-img {
          margin-bottom: 4rem;

          height: 300px !important;
          width: 300px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .favorites-container {
    margin: 4rem 0;
    .favorites-title {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
    .favorites-buttons {
      display: flex;
      margin: 1rem;
      .favorites-button {
        text-transform: capitalize;
        font-weight: 500;
        color: black;
        font-size: 1rem;
        border-radius: 0px;

        &:first-child {
          border-right: 1px solid black !important;
        }
      }
      .favorites-button-active {
        font-weight: 700;
      }
    }
    .favorites-data {
      display: flex;
      justify-content: center;
      .favorites-data-select {
        margin: 6rem 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h2 {
          font-family: 'Montserrat', sans-serif;
          font-size: 1.5rem;
          text-align: center;
          margin-bottom: 1.4rem;
        }

        p {
          width: 100%;
          font-family: 'Montserrat', sans-serif;
          font-size: 1rem;
          text-align: center;
        }
        .favorites-no-select-img {
          margin-bottom: 4rem;

          height: 300px !important;
          width: 300px !important;
        }
      }
    }
  }
}
