.post-select {
  .post-select-title {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0.3rem;
  }
  .post-select-form {
    border-radius: 5px !important;
    border: 1px #019cde solid;

    .MuiSelect-select {
      padding: 0.4rem 0.6rem !important;
    }
  }
}
@media screen and (max-width: 545px) {
  .post-select {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;

    .post-select-title {
      font-size: 1rem;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 0.3rem;
    }
    .post-select-form {
      border-radius: 5px !important;
      border: 1px #019cde solid;

      .MuiSelect-select {
        padding: 0.4rem 0.6rem !important;
      }
    }
  }
}
